$back_grey: #e9eef1;
// BLEU
$button-blue: #1fbcdc;
$button-blue-hover: #16a9c7;
$medium-blue: #549cb8;
$green-blue: #47859d;
$deep-blue: #0c5f9b;
$dark-blue: #0e6c8a;
$darker-blue: #006680;
$darkest-blue: #2a5e72;

// ORANGE
$dark-orange: #e77b34;
$light-orange: #f38237;
$saumon: #dd7f64;

// PURPLE
$light-purple: #ae809f;
$purple: #a35689;
$dark-purple: #8b4975;

// PINK
$pink: #e9168c;
$pink-hover: #C11666;

// GREEN
$green: #88c77c;
$light-green: #aad5a8;

// MARRON
$marron: #9a8579;

// ROUGE
$rouge: #e40613;

// JAUNE
$jaune: #ffd015;

// SOCIALS
$fb-color: #4460a0;
$tw-color: #5aa8df;
$yt-color: #ce1312;
$ln-color: #006699;
$vi-color: #f4982b;
$pi-color: #cf1913;